{% load staticfiles %}<!DOCTYPE html>
<html lang="pl-PL">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Wybory internetowe{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}?v=xXzJWuYrGX">
  <meta name="theme-color" content="#ffffff">

{#Bootstrap#}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  {% block head_additional_data %}{% endblock %}
</head>
<body>
  {% block menu %}{% endblock %}

  <div id="container-main" class="container">
    {% block content %}
    <div class="row">
      <div class="col-sm-12">
        Pusta strona
      </div>
    </div>
    {% endblock %}
  </div>

  {% block in_body %}
  {% endblock %}

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/tether.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% block additional_js %}{% endblock %}
</body>
</html>
