<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Wybory</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item{% if active_tab == 'main' %} active{% endif %}">
          <a class="nav-link" href="{% url 'index' %}">Strona główna</a>
        </li>
        {% if perms.polls.polls_admin %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle{% if active_tab == 'polls' %} active{% endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" id="navbarDropdownPolls">
              Zarządzanie wyborami
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownPolls">
              <a class="dropdown-item" href="{% url 'create_poll' %}">Tworzenie wyborów</a>
              <a class="dropdown-item" href="{% url 'view_my_polls' %}">Lista Twoich wyborów</a>
            </div>
          </li>
        {% endif %}
        {% if results == 'true' %}
          {% if perms.polls.polls_admin %}
            <li class="nav-item{% if results_active == 'true' %} active{% endif %}">
              <a class="nav-link" href="{% url 'results' election_id=election_id %}">Wyniki wyborów</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link{% if active_tab == 'profile' %} active{% endif %}" href="/profile">Zmiana danych</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Wyloguj</a>
        </li>
      {% else %}
        <li class="nav-item{% if active_tab == 'login' %} active{% endif %}">
          <a class="nav-link" href="{% url 'login' %}">Logowanie</a>
        </li>
        <li class="nav-item{% if active_tab == 'register' %} active{% endif %}">
          <a class="nav-link" href="{% url 'register' %}">Rejestracja</a>
        </li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>