.g-recaptcha {
    display: inline-block;
}

.alert {
    white-space: normal;
}

.form-container {
    background-color: rgba(238,238,238,0.9);
    padding: 1.5rem;
    border-radius: 0.8rem;
    white-space: nowrap;
}

.row .create {
    height: 34px;
}

input[type='checkbox'] {
    margin-top: 0;
    top: 4px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.label-nopadding {
    padding-right: 0;
}

.label-middle {
    margin-bottom: 0;
    top: 4px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.form-container .form-control:focus {
  z-index: 2;
}

.form-container .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.input-top {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.input-middle {
    margin-top: -1px;
    border-radius: 0 !important;
}

.input-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;
}
