.list-container {
    background-color: rgba(238,238,238,0.9);
    padding: 1.5rem;
    border-radius: 0.8rem;
    white-space: nowrap;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border: 0.5px solid #9E9E9E;
}

.left-child {
    border-left: 0.5px solid rgba(238,238,238,0.9) !important;
}

.right-child {
    border-right: 0.5px solid rgba(238,238,238,0.9) !important;
}

.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border-bottom: 0.5px solid #9E9E9E !important;
    border-top: 0.5px solid #9E9E9E !important;
    border-left: 0;
    border-right: 0;
}

#overlay {
    opacity: 0.5;
    z-index: 1500;
    background-color: #9E9E9E;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

#confirmation {
    z-index: 1501;
    background-color: #292b2c;
    padding: 20px;
    border-radius: 5px;
    top: 8rem;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    text-align: center;
}

.nodisp {
    display: none;
}

.button-save {
    width: 100%;
}

table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

.table-cell {
    display: inline-block;
}

.table-header {
    background-color: rgba(0,0,0,.075);
}

.table-outer {
    border-top: 0.5px solid #9E9E9E !important;
    border-bottom: 0.5px solid #9E9E9E !important;
    border-left: 0.5px rgba(0,0,0,.075) !important;
    border-right: 0.5px rgba(0,0,0,.075) !important;
    padding: 0;
    font-weight: bold;
    text-align: center;
    margin-top: -1px;
}

.table-cell-left {
    border-right: 0.5px solid #9E9E9E !important;
}

.table-cell-right {
    border-left: 0.5px solid #9E9E9E !important;
}

.table-cell-inside {
    border-right: 0.5px solid #9E9E9E !important;
}

.table-padding {
    padding: 6px;
}

.table-nazwa {
    width: 72%;
}

.table-liczba {
    width: 16%;
}

.table-edycja {
    width: 11%;
}

.table-padding-topbottom {
    padding-left: 2px;
    padding-right: 2px;
}

.table-nazwa-edycja {
    width: 89%;
}

.icon-back {
    position: absolute;
    left: 0;
}

.icon-back:hover {
    color: #0a0a0a;
}
