body {
    background: url('../img/background.png') repeat top left;
    padding-top: 5rem;
}

@media (min-width: 979px) {
    .dropdown:hover>.dropdown-menu {
        display: block;
    }
}

.no-bullet > ul {
    list-style-type: none;
    padding-left: 0;
}
