.gray-container {
    background-color: rgba(238,238,238,0.9);
    padding: 1.5rem;
    border-radius: 0.8rem;
    white-space: nowrap;
}

.list-polls {
    border-radius: 0.9rem;
    padding: 1rem;
}

.list-polls > h4 {
    margin-bottom: 1.4rem;
}

.list-polls > .row > .list-item {
    padding: 5px;
}

.box {
    padding: 10px;
    border-radius: 0.9rem;
    background: rgba(0,0,0,0) url('../img/box-background.png') repeat top left;
}

.hoverable {
    transition: background-color 0.4s;
}

.hoverable:hover {
    background-color: rgba(0,0,0,.3);
}

.box:before {
    position: absolute;
    top: 5px; right: 5px; bottom: 5px; left: 5px;
    border-radius: 0.9rem;
    background-color: inherit;
    content: ' ';
}

a.none {
    text-decoration: none;
    color: #FFFFFF;
}
