.user-form
{
    background-color: rgba(238, 238, 238, 0.9);
    padding: 1.5rem;
    border-radius: 0.8rem;
}

.text-center
{
    text-align: center;
}

.top-auth
{
    margin-top: 1rem !important;
}
