{% extends 'base/base.html' %}
{% load staticfiles %}
{% load css_extras %}

{% block title %}Tworzenie wyborów{% endblock %}

{% block head_additional_data %}
  <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% if success %}
  <meta http-equiv="refresh" content="2; url={% url 'edit_poll' poll_id=poll_id %}" />
{% endif %}
{% endblock %}

{% block menu %}{% include 'base/menu.html' with active_tab='polls' %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-5 offset-md-3 form-container">
    <h2 class="text-center top-auth">Tworzenie wyborów</h2><br>
    {% if success %}
      <div class="alert alert-success text-center">
        {{ success }}
      </div>
    {% endif %}
    {% if form.errors %}
      <div class="alert alert-danger">
        {% for field in form %}
          {% for error in field.errors %}
            {{ error|escape }} <br>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          {{ error|escape }}<br>
        {% endfor %}
      </div>
    {% endif %}
    <form method="POST" role="form" class="form">{% csrf_token %}
      <div class="form-group">
        {% for field in form %}
          <div class="row create">
            <div class="col-md-4 label-nopadding">
              <label for="{{ field.name }}" class="label-middle">{{ field.label }}</label>
            </div>
            <div class="col-md-8">
              {{ field }}
            </div>
          </div>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary btn-block">Dodaj</button>
    </form>
  </div>
</div>
{% endblock %}

{% block additional_js %}
  <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
  <script>
  $(function() {
      jQuery.datetimepicker.setLocale('pl');
      $('#{{ form.date_from.auto_id }}').datetimepicker({
          closeOnDateSelect:true,
          minDate:0
      });
      $('#{{ form.date_to.auto_id }}').datetimepicker({
          closeOnDateSelect:true,
          minDate:0
      });
  })
  </script>
{% endblock %}