{% extends 'base/base.html' %}
{% load staticfiles %}
{% load css_extras %}

{% block title %}Edycja listy wyborów{% endblock %}

{% block head_additional_data %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block menu %}{% include 'base/menu.html' with active_tab='polls' %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 list-container">
    <h2 class="text-center top-auth" style="position: relative">
      {% if back_id %}
        <i class="fa fa-arrow-circle-left icon-back" aria-hidden="true" onclick="location.href='{% url 'edit_poll' poll_id=back_id %}'"></i>
      {% endif %}
      Edycja listy wyborów
    </h2><br>
    {% if not back_id %}
      <div class="alert alert-danger" id="alert-box" role="alert">
        <div id="error-text">Brak parametru umożliwiającego cofnięcie do edycji wyborów</div>
      </div>
    {% endif %}
    <div class="alert alert-danger nodisp" id="alert-box" role="alert">
      <button type="button" class="close button-close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div id="error-text">Błąd zapisu</div>
    </div>
    <div class="alert alert-success nodisp" id="success-box" role="alert">
      <button type="button" class="close button-close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div id="success-text">Pomyślnie zapisano zmiany</div>
    </div>
    <div class="col-md-12 table-outer table-header table-padding-remove">
      <div class="table-cell table-cell-left table-padding table-nazwa-edycja">
        Nazwa
      </div>
      <div class="table-cell table-padding table-edycja">
        Zapis
      </div>
    </div>
    <div class="col-md-12 table-outer">
      <form id="editList">{% csrf_token %}
        <div class="table-cell table-padding table-nazwa-edycja">
          {{ form.name }}
        </div>
        <div class="table-cell table-padding table-edycja">
          <button class="btn btn-primary btn-sm edit-list button-save">Zapisz</button>
        </div>
      </form>
    </div>
    <div style="margin-top: 50px"></div>

    <div class="col-md-12 table-outer table-header table-padding">
      Kandydaci
    </div>
    <div class="col-md-12 table-outer table-header table-padding-remove">
      <div class="table-cell table-cell-left table-padding table-nazwa-edycja">
        Imię i nazwisko
      </div>
      <div class="table-cell table-padding table-edycja">
        Edycja
      </div>
    </div>
    {% if candidates %}
      {% for candidate in candidates %}
        <div class="col-md-12 table-outer table-padding-remove">
          <div class="table-cell table-padding table-nazwa-edycja">
            {{ candidate.name }}
          </div>
          <div class="table-cell table-padding table-padding-topbottom table-edycja">
            <button class="btn btn-primary btn-sm edit-list button-edit" onclick="location.href='{% url 'edit_candidate' candidate_id=candidate.pk %}?backelection={{ back_id }}&backlist={{ poll_list_id }}'">Edytuj</button>
            <button class="btn btn-danger btn-sm edit-list button-remove" data-candidateid="{{ candidate.pk }}">Usuń</button>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    <div id="new-lists"></div>
    <div class="col-md-12 table-outer">
      <form id="add-new-candidate">{% csrf_token %}
        <div class="table-cell table-padding table-nazwa-edycja">
          {{ form_new.name }}
        </div>
        <div class="table-cell table-padding table-edycja">
          <button class="btn btn-success btn-sm edit-list">Dodaj</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block in_body %}
<div id="overlay" class="nodisp"></div>
<div id="confirmation" class="nodisp">
  <p>Czy na pewno chcesz usunąć tę listę?</p>
  <button class="btn btn-sm btn-success button-confirm button-half">Tak</button>
  <button class="btn btn-sm btn-danger button-cancel button-half">Nie</button>
</div>
{% endblock %}

{% block additional_js %}
  <script>
  $(function() {
    var editUrl = '{% url 'save_edited_poll_list' poll_list_id=poll_list_id %}';
    $('.button-close').on('click', function() {
      $(this).parent().removeClass('show');
      $(this).parent().addClass('nodisp');
    });
    $('#editList').submit(function(e) {
      e.preventDefault();
      var data = $(this).serialize();
      $.ajax({
        type: 'POST',
        url: editUrl,
        data: data,
        success: function(data) {
          if( data['status'] !== 'ok' ) {
            $('#error-text').html('Błąd zapisu zmian!');
            $('#alert-box').addClass('show');
            $('#alert-box').removeClass('nodisp');
          } else {
            $('#success-box').addClass('show');
            $('#success-box').removeClass('nodisp');
          }
        }
      })
    });

    var newUrl = '{% url 'create_new_candidate' poll_list_id=poll_list_id %}';
    $('#add-new-candidate').submit(function(e) {
      e.preventDefault();
      var data = $(this).serialize();
      $.ajax({
        type: 'POST',
        url: newUrl,
        data: data,
        success: function(data) {
          if( data['status'] !== 'ok' ) {
            $('#error-text').html('Błąd zapisu zmian!');
            $('#alert-box').addClass('show');
            $('#alert-box').removeClass('nodisp');
          } else {
            location.reload();
          }
        }
      })
    });

    var baseDelUrl = '{% url 'delete_candidate' candidate_id=0 %}'.slice(0,-1);
    var delUrl='', to_del=null;
    $('.button-remove').on('click', function() {
      delUrl = baseDelUrl + $(this).attr('data-candidateid');
      to_del = $(this).parent().parent();
      $('#confirmation').removeClass('nodisp');
      $('#overlay').removeClass('nodisp');
    });

    $('.button-confirm').on('click', function() {
        if( delUrl === '' || to_del === null ) {
          alert('Błąd przy usuwaniu, odśwież stronę');
          delUrl = '';
          to_del = null;
          $('#confirmation').addClass('nodisp');
          $('#overlay').addClass('nodisp');
          return;
        }
        $.ajax({
          type: 'GET',
          url: delUrl,
          cache: false,
          success: function (msg) {
            if (msg['status'] === 'ok') {
              to_del.remove();
            } else {
              alert("Błąd przy usuwaniu z bazy");
            }
            $('#confirmation').addClass('nodisp');
            $('#overlay').addClass('nodisp');
          }
        });
      });

    $('.button-cancel').on('click', function() {
      delUrl = '';
      to_del = null;
      $('#confirmation').addClass('nodisp');
      $('#overlay').addClass('nodisp');
    });
  })
  </script>
{% endblock %}