{% extends 'base/base.html' %}
{% load staticfiles %}
{% load css_extras %}

{% block title %}Edycja listy wyborów{% endblock %}

{% block head_additional_data %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block menu %}{% include 'base/menu.html' with active_tab='polls' %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 list-container">
    <h2 class="text-center top-auth" style="position: relative">
      {% if back_list_id %}
        <i class="fa fa-arrow-circle-left icon-back" aria-hidden="true" onclick="location.href='{% url 'edit_poll_list' poll_list_id=back_list_id %}?back={{ back_election_id }}'"></i>
      {% endif %}
      Edycja listy wyborów
    </h2><br>
    {% if not back_list_id or not back_election_id %}
      <div class="alert alert-danger" id="alert-box" role="alert">
        <div id="error-text">Brak parametru umożliwiającego cofnięcie do edycji listy lub wyborów</div>
      </div>
    {% endif %}
    <div class="alert alert-danger nodisp" id="alert-box" role="alert">
      <button type="button" class="close button-close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div id="error-text">Błąd zapisu</div>
    </div>
    <div class="alert alert-success nodisp" id="success-box" role="alert">
      <button type="button" class="close button-close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div id="success-text">Pomyślnie zapisano zmiany</div>
    </div>

    <div class="col-md-12 table-outer table-header table-padding-remove">
      <div class="table-cell table-cell-left table-padding table-nazwa-edycja">
        Imię i nazwisko
      </div>
      <div class="table-cell table-padding table-edycja">
        Edycja
      </div>
    </div>
    <div class="col-md-12 table-outer">
      <form id="editCandidate">{% csrf_token %}
        <div class="table-cell table-padding table-nazwa-edycja">
          {{ form.name }}
        </div>
        <div class="table-cell table-padding table-edycja">
          <button class="btn btn-success btn-sm edit-candidate button-save">Zapisz</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block in_body %}
<div id="overlay" class="nodisp"></div>
<div id="confirmation" class="nodisp">
  <p>Czy na pewno chcesz usunąć tę listę?</p>
  <button class="btn btn-sm btn-success button-confirm button-half">Tak</button>
  <button class="btn btn-sm btn-danger button-cancel button-half">Nie</button>
</div>
{% endblock %}

{% block additional_js %}
  <script>
  $(function() {
    var editUrl = '{% url 'save_edited_candidate' candidate_id=candidate.pk %}';
    $('.button-close').on('click', function() {
      $(this).parent().removeClass('show');
      $(this).parent().addClass('nodisp');
    });
    $('#editCandidate').submit(function(e) {
      e.preventDefault();
      var data = $(this).serialize();
      $.ajax({
        type: 'POST',
        url: editUrl,
        data: data,
        success: function(data) {
          if( data['status'] !== 'ok' ) {
            alert(JSON.stringify(data));
            $('#error-text').html('Błąd zapisu zmian!');
            $('#alert-box').addClass('show');
            $('#alert-box').removeClass('nodisp');
          } else {
            $('#success-box').addClass('show');
            $('#success-box').removeClass('nodisp');
          }
        }
      })
    });
  });
  </script>
{% endblock %}