{% extends 'base/base.html' %}
{% load staticfiles %}
{% load css_extras %}

{% block title %}Edycja wyborów{% endblock %}

{% block head_additional_data %}
  <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block menu %}{% include 'base/menu.html' with active_tab='polls' %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 list-container">
    <h2 class="text-center top-auth" style="position: relative;">
      <i class="fa fa-arrow-circle-left icon-back" aria-hidden="true" onclick="location.href='{% url 'view_my_polls' %}'"></i>
      Edycja wyborów
    </h2><br>
    <div class="alert alert-danger nodisp" id="alert-box" role="alert">
      <button type="button" class="close button-close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div id="error-text">Błąd zapisu</div>
    </div>
    <div class="alert alert-success nodisp" id="success-box" role="alert">
      <button type="button" class="close button-close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div id="success-text">Pomyślnie zapisano zmiany</div>
    </div>
    <table class="table table-bordered table-sm">
      <colgroup>
        <col style="width:29%">
        <col style="width:8%">
        <col style="width:15%">
        <col style="width:15%">
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:11%">
      </colgroup>
      <thead class="table-active">
        <tr>
          <th rowspan="2" class="align-middle text-center left-child">Nazwa</th>
          <th rowspan="2" class="align-middle text-center">Szkolne</th>
          <th colspan="2" class="text-center">Data</th>
          <th colspan="3" class="text-center">Statystyki</th>
          <th rowspan="2" class="align-middle text-center right-child">Zapis</th>
        </tr>
        <tr>
          <th class="align-middle text-center">Rozpoczęcia</th>
          <th class="align-middle text-center">Zakończenia</th>
          <th class="align-middle text-center">Ogólne</th>
          <th class="align-middle text-center">Precyzyjne</th>
          <th class="align-middle text-center">Próg<br>odświeżenia</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <form id="editPoll">{% csrf_token %}
            <td class="align-middle text-center">{{ form.name }}</td>
            <td class="align-middle text-center">{{ form.class_polls }}</td>
            <td class="align-middle text-center">{{ form.date_from }}</td>
            <td class="align-middle text-center">{{ form.date_to }}</td>
            <td class="align-middle text-center">{{ form.general_visible }}</td>
            <td class="align-middle text-center">{{ form.precise_visible }}</td>
            <td class="align-middle text-center">{{ form.refresh_threshold }}</td>
            <td class="align-middle text-center"><button class="btn btn-sm btn-primary button-save">Zapisz</button></td>
          </form>
        </tr>
      </tbody>
    </table>
    <div style="margin-top: 50px"></div>

    <div class="col-md-12 table-outer table-header table-padding">
      Listy
    </div>
    <div class="col-md-12 table-outer table-header table-padding-remove">
      <div class="table-cell table-cell-left table-padding table-nazwa">
        Nazwa
      </div>
      <div class="table-cell table-padding table-liczba">
        Liczba kandydatów
      </div>
      <div class="table-cell table-cell-right table-padding table-edycja">
        Edycja
      </div>
    </div>
    {% if lists %}
      {% for clist in lists %}
        <div class="col-md-12 table-outer table-padding-remove">
          <div class="table-cell table-padding table-nazwa">
            {{ clist.name }}
          </div>
          <div class="table-cell table-padding table-liczba">
            {{ clist.count_candidates }}
          </div>
          <div class="table-cell table-padding table-padding-topbottom table-edycja">
            <button class="btn btn-primary btn-sm edit-list button-edit" onclick="location.href='{% url 'edit_poll_list' poll_list_id=clist.pk %}?back={{ poll_id }}'">Edytuj</button>
            <button class="btn btn-danger btn-sm edit-list button-remove" data-listid="{{ clist.pk }}">Usuń</button>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    <div id="new-lists"></div>
    <div class="col-md-12 table-outer">
      <form id="add-new-list">{% csrf_token %}
        <div class="table-cell table-padding table-nazwa">
          {{ form_new.name }}
        </div>
        <div class="table-cell table-padding table-liczba">
          nd.
        </div>
        <div class="table-cell table-padding table-edycja">
          <button class="btn btn-success btn-sm edit-list">Dodaj</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block in_body %}
<div id="overlay" class="nodisp"></div>
<div id="confirmation" class="nodisp">
  <p>Czy na pewno chcesz usunąć tę listę?</p>
  <button class="btn btn-sm btn-success button-confirm button-half">Tak</button>
  <button class="btn btn-sm btn-danger button-cancel button-half">Nie</button>
</div>
{% endblock %}

{% block additional_js %}
  <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
  <script>
  $(function() {
    var editUrl = '{% url 'save_edited_poll' poll_id=poll_id %}';
    var newUrl = '{% url 'create_new_list' poll_id=poll_id %}';
    jQuery.datetimepicker.setLocale('pl');
    $('#{{ form.date_from.auto_id }}').datetimepicker({
        theme:'dark',
        minDate:0
    });
    $('#{{ form.date_to.auto_id }}').datetimepicker({
        theme:'dark',
        minDate:0
    });
    $('.button-close').on('click', function() {
      $(this).parent().removeClass('show');
      $(this).parent().addClass('nodisp');
    });
    $('#editPoll').submit(function(e) {
      e.preventDefault();
      var data = $(this).serialize();
      $.ajax({
        type: 'POST',
        url: editUrl,
        data: data,
        success: function(data) {
          if( data['status'] !== 'ok' ) {
            $('#error-text').html('Błąd zapisu zmian!');
            $('#alert-box').addClass('show');
            $('#alert-box').removeClass('nodisp');
          } else {
            $('#success-box').addClass('show');
            $('#success-box').removeClass('nodisp');
          }
        }
      })
    });

    $('#add-new-list').submit(function(e) {
      e.preventDefault();
      var data = $(this).serialize();
      $.ajax({
        type: 'POST',
        url: newUrl,
        data: data,
        success: function(data) {
          if( data['status'] !== 'ok' ) {
            $('#error-text').html('Błąd zapisu zmian!');
            $('#alert-box').addClass('show');
            $('#alert-box').removeClass('nodisp');
          } else {
            location.reload();
          }
        }
      })
    });

    var baseDelUrl = '{% url 'delete_poll_list' poll_list_id=0 %}'.slice(0,-1);
    var delUrl='', to_del=null;
    $('.button-remove').on('click', function() {
      delUrl = baseDelUrl + $(this).attr('data-listid');
      to_del = $(this).parent().parent();
      $('#confirmation').removeClass('nodisp');
      $('#overlay').removeClass('nodisp');
    });

    $('.button-confirm').on('click', function() {
        if( delUrl === '' || to_del === null ) {
          alert('Błąd przy usuwaniu, odśwież stronę');
          delUrl = '';
          to_del = null;
          $('#confirmation').addClass('nodisp');
          $('#overlay').addClass('nodisp');
          return;
        }
        $.ajax({
          type: 'GET',
          url: delUrl,
          cache: false,
          success: function (msg) {
            if (msg['status'] === 'ok') {
              to_del.remove();
            } else {
              alert("Błąd przy usuwaniu z bazy");
            }
            $('#confirmation').addClass('nodisp');
            $('#overlay').addClass('nodisp');
          }
        });
      });

    $('.button-cancel').on('click', function() {
      delUrl = '';
      to_del = null;
      $('#confirmation').addClass('nodisp');
      $('#overlay').addClass('nodisp');
    });
  })
  </script>
{% endblock %}