{% extends 'base/base.html' %}
{% load staticfiles %}
{% load css_extras %}

{% block title %}Wyniki głosowania{% endblock %}

{% block head_additional_data %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block menu %}{% include 'base/menu.html' with results='true' election_id=election_id results_active='true' %}{% endblock %}

{% block additional_polls %}
  {% if perms.polls.polls_admin %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'view_my_polls' %}">Wyniki wyborów</a>
    </li>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-5 offset-md-3 form-container">
    <h2 class="text-center top-auth" style="position: relative">
      <i class="fa fa-arrow-circle-left icon-back" aria-hidden="true" onclick="location.href='{% url 'vote' election_id=election_id %}'"></i>
      Wyniki
    </h2><br>
      <div class="form-group no-bullet">
        {% for key, clist in lists.items %}
          <h5 class="text-center">{{ key }}</h5>
          <ul>
          {% for candidate in clist %}
            <li>
              {{ candidate.name }}: {{ candidate.votes }}
            </li>
          {% endfor %}
          </ul>
        {% endfor %}
      </div>
  </div>
</div>
{% endblock %}

{% block additional_js %}
  <script>
  $(function() {

  })
  </script>
{% endblock %}