{% extends 'base/base.html' %}
{% load staticfiles %}
{% load css_extras %}

{% block title %}Lista wyborów{% endblock %}

{% block head_additional_data %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block menu %}{% include 'base/menu.html' with active_tab='polls' %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 list-container">
    <h2 class="text-center top-auth">Lista wyborów</h2><br>
    <table class="table table-bordered table-sm" style="max-width: 100%; word-wrap: break-word;">
      <colgroup>
        <col style="width:25%">
        <col style="width:8%">
        <col style="width:14%">
        <col style="width:14%">
        <col style="width:8%">
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:11%">
      </colgroup>
      <thead class="table-active">
        <tr>
          <th rowspan="2" class="align-middle text-center left-child">Nazwa</th>
          <th rowspan="2" class="align-middle text-center">Szkolne</th>
          <th colspan="2" class="text-center">Data</th>
          <th colspan="3" class="text-center">Statystyki</th>
          <th rowspan="2" class="align-middle text-center right-child">Edycja</th>
        </tr>
        <tr>
          <th class="align-middle text-center">Rozpoczęcia</th>
          <th class="align-middle text-center">Zakończenia</th>
          <th class="align-middle text-center">Ogólne</th>
          <th class="align-middle text-center">Precyzyjne</th>
          <th class="align-middle text-center">Próg<br>odświeżenia</th>
        </tr>
      </thead>
      <tbody>
        {% if empty %}
          <td colspan="7" class="text-center">Pusto</td>
        {% elif data %}
          {% for current in data %}
            <tr class="text-center">
              <td>{{ current.name }}</td>
              <td><i class="fa {% if current.class_polls %}fa-check{% else %}fa-times{% endif %}" aria-hidden="true"></i></td>
              <td>{{ current.date_from|date:'Y/m/d H:i' }}</td>
              <td>{{ current.date_to|date:'Y/m/d H:i' }}</td>
              <td><i class="fa {% if current.general_visible %}fa-check{% else %}fa-times{% endif %}" aria-hidden="true"></i></td>
              <td><i class="fa {% if current.precise_visible %}fa-check{% else %}fa-times{% endif %}" aria-hidden="true"></i></td>
              <td>{{ current.refresh_threshold }}</td>
              <td>
                <button class="btn btn-sm btn-primary button-edit" onclick="location.href='{% url 'edit_poll' poll_id=current.pk %}'">Edytuj</button>
                <button class="btn btn-sm btn-danger button-delete" data-pollid="{{ current.pk }}">Usuń</button>
              </td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block in_body %}
<div id="overlay" class="nodisp"></div>
<div id="confirmation" class="nodisp">
  <p>Czy na pewno chcesz usunąć te wybory?</p>
  <button class="btn btn-sm btn-success button-confirm button-half">Tak</button>
  <button class="btn btn-sm btn-danger button-cancel button-half">Nie</button>
</div>
{% endblock %}

{% block additional_js %}
  <script>
    $(function() {
      var base_url = '{% url 'delete_poll' poll_id='0' %}'.slice(0,-1);
      var url='', to_del=null;
      $('.button-delete').on('click', function() {
        url = base_url + $(this).attr('data-pollid');
        to_del = $(this).parent().parent();
        $('#confirmation').removeClass('nodisp');
        $('#overlay').removeClass('nodisp');
      });
      $('.button-confirm').on('click', function() {
        if( url === '' || to_del === null ) {
          alert('Błąd przy usuwaniu, odśwież stronę');
          url = '';
          to_del = null;
          $('#confirmation').addClass('nodisp');
          $('#overlay').addClass('nodisp');
          return;
        }
        $.ajax({
          type: 'GET',
          url: url,
          cache: false,
          success: function (msg) {
            if (msg['status'] === 'ok') {
              to_del.remove();
            } else {
              alert("Błąd przy usuwaniu z bazy");
            }
            $('#confirmation').addClass('nodisp');
            $('#overlay').addClass('nodisp');
          }
        });
      });
      $('.button-cancel').on('click', function() {
        url = '';
        to_del = null;
        $('#confirmation').addClass('nodisp');
        $('#overlay').addClass('nodisp');
      });
    });
  </script>
{% endblock %}