{% extends 'base/base.html' %}
{% load staticfiles %}
{% load css_extras %}

{% block title %}Głosowanie{% endblock %}

{% block head_additional_data %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block menu %}{% include 'base/menu.html' with results='true' election_id=election_id %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-5 offset-md-3 form-container">
    <h2 class="text-center top-auth">Głosowanie</h2><br>
    {% if success %}
      <div class="alert alert-success text-center">
        {{ success }}
      </div>
    {% endif %}
    {% if election_error %}
      <div class="alert alert-danger text-center">
        {{ election_error }}
      </div>
    {% endif %}
    {% if form.errors %}
      <div class="alert alert-danger">
        {% for field in form %}
          {% for error in field.errors %}
            {{ error|escape }} <br>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          {{ error|escape }}<br>
        {% endfor %}
      </div>
    {% endif %}
    {% if show %}
      {% if not noform %}
      <form method="POST" role="form" class="form">{% csrf_token %}
      {% endif %}
        <div class="form-group no-bullet">
          {% for key, clist in lists.items %}
            <h5 class="text-center">{{ key }}</h5>
            <ul>
            {% for candidate in clist %}
              <li>
                {% if not noform %}
                <label for="can_id_{{ candidate.pk }}">
                  <input id="can_id_{{ candidate.pk }}" type="radio" name="candidate" value="{{ candidate.pk }}">
                {% endif %}
                  {{ candidate.name }}
                {% if not noform %}
                </label>
                {% endif %}
              </li>
            {% endfor %}
            </ul>
          {% endfor %}
        </div>
      {% if not noform %}
        <button type="submit" class="btn btn-primary btn-block">Dodaj</button>
      </form>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}

{% block additional_js %}
  <script>
  $(function() {

  })
  </script>
{% endblock %}