{% extends 'base/base.html' %}
{% load staticfiles %}
{% load css_extras %}

{% block title %}Logowanie{% endblock %}

{% block head_additional_data %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block menu %}{% include 'base/menu.html' with active_tab='login' %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4 offset-md-4 form-container">
    <h2 class="text-center top-auth">Logowanie</h2><br>
    {% if form.errors %}
      <div class="alert alert-danger">
        {% for field in form %}
          {% for error in field.errors %}
            {{ error|escape }} <br>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          {{ error|escape }}<br>
        {% endfor %}
      </div>
    {% endif %}
    <form method="POST" role="form" class="form-signin">{% csrf_token %}
        <div class="form-group">
          <label for="{{ form.username.name }}" class="sr-only">{{ form.username.label }}</label>
          {{ form.username|set_placeholder:"Login lub email"|set_css:"input-top form-control" }}
          <label for="{{ form.password.name }}" class="sr-only">{{ form.password.label }}</label>
          {{ form.password|set_placeholder:"Hasło"|set_css:"input-bottom form-control" }}
        </div>
      <button type="submit" class="btn btn-primary btn-block">Zaloguj</button>
    </form>
  </div>
</div>
{% endblock %}