{% extends 'base/base.html' %}
{% load staticfiles %}
{% load css_extras %}

{% block title %}Rejestracja{% endblock %}

{% block head_additional_data %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
  <script src='https://www.google.com/recaptcha/api.js'></script>
  {% if success %}
    <meta http-equiv="refresh" content="2; url=/login" />
  {% endif %}
{% endblock %}

{% block menu %}{% include 'base/menu.html' with active_tab='register' %}{% endblock %}

{% block content %}
  <div class="row">
  <div class="col-md-4 offset-md-4 form-container">
    <h2 class="text-center top-auth">Rejestracja</h2><br>
    {% if success %}
      <div class="alert alert-success text-center">
        {{ success }}
      </div>
    {% endif %}
    {% if form.errors %}
      <div class="alert alert-danger">
        {% for field in form %}
          {% for error in field.errors %}
            {{ error|escape }} <br>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          {{ error|escape }}<br>
        {% endfor %}
      </div>
    {% endif %}

    <form method="POST" role="form" class="form-register">{% csrf_token %}
      <div class="form-group">
        {% for field in form %}
          <label for="{{ field.name }}" class="sr-only">{{ field.label }}</label>
          <div{% if field.errors %} class="has-danger"{% endif %}>{{ field }}</div>
        {% endfor %}
      </div>
      <div class="form-group">
        <div class="text-center">
          <div class="g-recaptcha" data-callback="validated" data-expired-callback="unvalidated" data-sitekey="6LfPXx8UAAAAAHo1csdJ_nvP83b58htz7pAJe7Wm"></div>
        </div>
      </div>
      <button type="submit" id="register-button" class="btn btn-primary btn-block" {% if not debug %}disabled{% endif %}>Zarejestruj</button>
    </form>
  </div>
  </div>
{% endblock %}

{% block additional_js %}
  <script>
    $(function() {
        var validated = function () {
            $('#register-button').removeAttr('disabled');
            $('#id_captcha').val(grecaptcha.getResponse());
        };

        var unvalidated = function () {
            $('#register-button').attr('disabled', 'disabled');
            $('#id_captcha').val('');
        };
    });
  </script>
{% endblock %}
