{% extends 'base/base.html' %}

{% load static %}

{% block menu %}{% include 'base/menu.html' with active_tab='main' %}{% endblock %}

{% block title %}Strona główna{% endblock %}

{% block head_additional_data %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/main-page.css' %}">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12 list-container gray-container">
    {% if user.is_authenticated %}
      <h2 class="text-center top-auth">Lista wyborów</h2><br>
      {% if not elections_ending and not elections_ongoing and not elections_upcoming %}
        <h4 class="text-center text-warning">Brak wyborów w których mógłbyś brać udział</h4>
      {% endif %}
      {% if elections_ending %}
        <div class="col-md-12 list-polls text-white container">
          <h4 class="text-center text-warning">Wybory zbliżające się do końca</h4>
          <div class="row">
            {% for election in elections_ending %}
              <div class="col-md-3 list-item">
                <a href="{% url 'vote' election_id=election.pk %}" class="none">
                  <div class="box hoverable">
                    <div><strong>Nazwa:</strong> {{ election.name }}</div>
                    <div><strong>Ilość kandydatów:</strong> {{ election.candidates }}</div>
                    <div><strong>Od:</strong> {{ election.date_from|date:'Y/m/d H:i' }}</div>
                    <div><strong>Do:</strong> {{ election.date_to|date:'Y/m/d H:i' }}</div>
                    <div><strong>Możesz zagłosować:</strong> <i class="fa {% if election.canvote %}fa-check{% else %}fa-times{% endif %}" style="color: {% if election.canvote %}green{% else %}red{% endif %}" aria-hidden="true"></i></div>
                  </div>
                {% if election.canvote %}</a>{% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% if elections_ongoing %}
        <div class="col-md-12 list-polls text-white container">
          <h4 class="text-center text-success">Wybory trwające</h4>
          <div class="row">
            {% for election in elections_ongoing %}
              <div class="col-md-3 list-item">
                <a href="{% url 'vote' election_id=election.pk %}" class="none">
                  <div class="box hoverable">
                    <div><strong>Nazwa:</strong> {{ election.name }}</div>
                    <div><strong>Ilość kandydatów:</strong> {{ election.candidates }}</div>
                    <div><strong>Od:</strong> {{ election.date_from|date:'Y/m/d H:i' }}</div>
                    <div><strong>Do:</strong> {{ election.date_to|date:'Y/m/d H:i' }}</div>
                    <div><strong>Możesz zagłosować:</strong> <i class="fa {% if election.canvote %}fa-check{% else %}fa-times{% endif %}" style="color: {% if election.canvote %}green{% else %}red{% endif %}" aria-hidden="true"></i></div>
                  </div>
                {% if election.canvote %}</a>{% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% if elections_upcoming %}
        <div class="col-md-12 list-polls text-white container">
          <h4 class="text-center text-primary">Wybory zbliżające się</h4>
          <div class="row">
            {% for election in elections_upcoming %}
              <div class="col-md-3 list-item">
                <a href="{% url 'vote' election_id=election.pk %}" class="none">
                  <div class="box hoverable">
                    <div><strong>Nazwa:</strong> {{ election.name }}</div>
                    <div><strong>Ilość kandydatów:</strong> {{ election.count_candidates }}</div>
                    <div><strong>Od:</strong> {{ election.date_from|date:'Y/m/d H:i' }}</div>
                    <div><strong>Do:</strong> {{ election.date_to|date:'Y/m/d H:i' }}</div>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% else %}
      <h2 class="text-center top-auth">Nie jesteś zalogowany</h2><br>
      <h6 class="text-center">Po zalogowaniu tutaj pojawią się wybory w których możesz wziąć udział</h6>
    {% endif %}
    </div>
  </div>
{% endblock %}