{% extends 'base/base.html' %}
{% load staticfiles %}
{% load css_extras %}

{% block title %}Zmiana danych{% endblock %}

{% block head_additional_data %}
  <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block menu %}{% include 'base/menu.html' with active_tab='profile' %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4 offset-md-4 form-container">
    <h2 class="text-center top-auth">Zmiana danych</h2><br>
    {% if success %}
      <div class="alert alert-success text-center">
        {{ success }}
      </div>
    {% endif %}
    {% if form.errors %}
      <div class="alert alert-danger">
        {% for field in form %}
          {% for error in field.errors %}
            {{ error|escape }} <br>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          {{ error|escape }}<br>
        {% endfor %}
      </div>
    {% endif %}
    <form method="POST" role="form" class="form">{% csrf_token %}
      <div class="form-group">
        {% for field in form %}
          <label for="{{ field.name }}" class="sr-only">{{ field.label }}</label>
          {{ field }}
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary btn-block">Zapisz</button>
    </form>
  </div>
</div>
{% endblock %}

{% block additional_js %}
  <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
  <script>
    $(function() {
      jQuery.datetimepicker.setLocale('pl');
      $('#{{ form.birth_date.auto_id }}').datetimepicker({
        maxDate:'-1976/01/02',
        defaultDate:'-1976/01/02',
        closeOnDateSelect:true,
        format: 'Y/m/d',
        timepicker:false
      });
    });
  </script>
{% endblock %}